@charset "utf-8";
/*公共格式*/
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, textarea, p {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
}
ul {
	list-style: none;
}
img, a img {
	border: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
